{% extends 'main.html' %}

{% block title %}
Объявление
{% endblock title %}

{% block content %}
    <br><br>

</h6>
    <p style="text-align: justify">Автор: {{ post.author }}</p>
        <h3>{{ post.title }}</h3><br>
        <i> категория: {{ post.category }} |</i>
        <i>{{ post.dateCreation|date:'M d Y' }}</i>

<br><br>

    <a class="btn btn-secondary" onClick="javascript:history.go(-1);" role="button">назад</a>
    {% if post.author == request.user %}
    <a class="btn btn-secondary" href='{{ request.get_full_path }}/edit' role="button">Изменить</a>
    <a class="btn btn-secondary" href='{{ request.get_full_path }}/delete' role="button">Удалить</a>
    {% endif %}

 <hr>
 <br><br>
    <p>{{ post.text|safe }}</p>

 <hr>

    <h5 style="text-align: center" >Комментарии</h5>
    {% if post.coment_set.all|length > 0 %}
            {% for coment in post.coment_set.all reversed %}
                {% if coment.accepted %}
                <tr>
                    <td><i>{{ coment.author }} </i></td>
                    <td><i>| {{ coment.dateCreation|date:'d.m.Y' }} </i></td>
                    {% if coment.author == request.user %}
                            <i>| <a href="{% url 'coment_delete' coment.pk %}">Удалить</a></i>
                        {% endif %}
                    <br>
                    <td>{{ coment.text }}</td><br>

                    <br><br>

                </tr>
            {% endif %}
            {% endfor %}
<!--       </table>-->
    {% else %}
        Комментариев нет
    {% endif %}

<br><br>

{% if request.user.is_authenticated and post.author != request.user %}
<br>
    <h6 style="text-align: center">Оставьте коментарий:</h6>
	<form method="post" enctype="multipart/form-data" style="text-align: center">

		{% csrf_token %}
	    {{ form.as_p }}
		<input class="btn btn-secondary" type="submit" value="Отправить">
	</form>


{% endif %}


    <hr>

    <br>
    <a class="btn btn-secondary" href='{% url "posts" %}' role="button">Назад</a>
    {% if post.author == request.user.author %}
    <a class="btn btn-secondary" href='{{ request.get_full_path }}/edit' role="button">Изменить</a>
    <a class="btn btn-secondary" href='{{ request.get_full_path }}/delete' role="button">Удалить</a>
    {% endif %}
 <br> <br> <br> <br>

{% endblock content %}